
  <!-- <mat-sidenav-content> -->
    <main role="main" class="sidenav-content" id="docs">
      <div id="main-content" tabindex="-1"></div>
      <div>
        <div style="opacity: 1;">
          <div class="content">
            <h1>Title of the Topic</h1>
            <h3>The application programming concept The application programming concept The application programming concept The application programming concept The application programming concept The application programming concept</h3>
          </div>
        </div>
      </div>
    </main>
  <!-- </mat-sidenav-content> -->